<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Gsoft_Barcode::barcode" title="barcode" sortOrder="10">
					<resource id="Gsoft_Barcode::index_generate" title="index generate" sortOrder="10"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Gsoft_Barcode::config_gsoft_barcode" title="barcode"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
